<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* Below controls the text rendered in the tab of each page. MVC mmakes this dynamic by using Razor syntax.*@
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @* Refers to the style bundle in the App_Start -> BundleConfig.cs to make loading the View quicker *@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* ("Text", "Action", "Controller") aka Taction. The below action links render a navigation item with the specified Text, Action, and Controller.*@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Razor", "IntroToRazor", "Home")</li>
                    <li>@Html.ActionLink("ViewBag Data", "Index", "ViewBagData")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @* RenderBody() is the location where unique information from each view is rendered. You can only have one RenderBody() per layout. If you need additional locations to insert information into a view, you can use the optional @Section() to hold additional information. *@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*
        The render section is a place for you to drop unique scripts for each view, if necessary. You ALWAYS list the RenderSection() LAST in your list of scripts because most scripts rely on jQuery and/or Bootstrap to already be rendered to function correctly.
    *@
    @RenderSection("scripts", required: false)
</body>
</html>
