<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="This is a site description" />
    <meta name="keywords" content="MVC1, HTML, Website Basics" />
    <meta name="author" content="John Swift" />
    <title>Web Sandbox @ViewBag.Title</title>
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="~/Content/images/WSfavicon.ico" />
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/images/Sandbox-48.png" alt="Sandbox site logo" />
        </a>
        <h1>
            Web Sandbox
        </h1>
        <p>
            Notes and Resources for HTML and CSS
        </p>
    </header>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li>
                <a href="@Url.Action("HTML", "Home")">
                    <i class="fa fa-html5" aria-hidden="true"></i> HTML
                </a>
            </li>
            <li>
                <a href="@Url.Action("CSS", "Home")"><i class="fa fa-css3" aria-hidden="true"></i> CSS</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Resources")"><i class="fa fa-book" aria-hidden="true"></i> Resources</a>
            </li>
            <li>
                <a href="@Url.Action("Colors", "CSSTopics")"><i class="fa fa-paint-brush" aria-hidden="true"></i> Colors</a>
            </li>
            <li>
                <a href="@Url.Action("Fonts", "CSSTopics")"><i class="fa fa-font" aria-hidden="true"></i> Fonts</a>
            </li>
            <li>
                <a href="@Url.Action("Images", "CSSTopics")"><i class="fa fa-picture-o" aria-hidden="true"></i> Images</a>
            </li>
        </ul>
    </nav>
    @RenderBody()
    <footer>
        &copy; Copyright 2020 John Swift
    </footer>
</body>
</html>
